In [1]:
import pandas as pd
# 데이터프레임 활용을 위해 판다스 임포트.

In [2]:
file = pd.read_csv("data/KNI_TC_LC_GNRL_WIK_SETLE_INFO_20191211170614.csv")
file.head()
# 9월 마지막 한 주간 모든 경기도 일반 지역화폐 사용 데이터가 담긴 csv 파일(41만 row)
# csv 파일을 읽어냄. head() 메소드로 초반 row만 확인.

C:\Users\bit\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,일반주간결제시작일자,일반주간결제종료일자,성별코드,연령대코드,결제상품ID,카드번호,회원코드,가맹점번호,결제상품명,가맹점업종명,가맹점우편번호,결제금액
0,2019-09-23,2019-09-29,F,10,140000016000,6dwe6llZRGRmFwcNhbesG76FY/HOtnLFMDJyQBRO5sk=,3003962122,999999999999999,가평사랑상품권,NaN,NaN,0
1,2019-09-23,2019-09-29,F,10,140000016000,8JgZ+LfZTaK42jcRR/c231/TsYPPptmyJdRkemfUof8=,3003874447,999999999999999,가평사랑상품권,NaN,NaN,0
2,2019-09-23,2019-09-29,F,10,140000016000,NZhBnyxPqD8oY+m/n/XLCVT7XCZW8u+FNnNuwwmbJGA=,3007478152,700030221,가평사랑상품권,유통업 비영리,12419.0,16890
3,2019-09-23,2019-09-29,F,10,140000016000,NZhBnyxPqD8oY+m/n/XLCVT7XCZW8u+FNnNuwwmbJGA=,3007478152,715026043,가평사랑상품권,신변잡화,12418.0,4000
4,2019-09-23,2019-09-29,F,10,140000016000,YQWbzAEBUf2GuppjZc1ucZv/27FzqkWEssK23GOuRt8=,3002028170,999999999999999,가평사랑상품권,NaN,NaN,0

In [3]:
file=file[['성별코드', '연령대코드', '가맹점업종명', '결제금액']]
file.head()
# 연령대 및 성별별 가맹점 업종 사용량을 찾기 위해 필요한 칼럼만 뽑아냄.

  성별코드 연령대코드   가맹점업종명   결제금액
0    F    10      NaN      0
1    F    10      NaN      0
2    F    10  유통업 비영리  16890
3    F    10     신변잡화   4000
4    F    10      NaN      0

In [4]:
file=file.dropna()
file.head()
# 결제금액이 없거나 가맹점 업좀명이 없는 불필요한 row를 삭제함.

   성별코드 연령대코드   가맹점업종명   결제금액
2     F    10  유통업 비영리  16890
3     F    10     신변잡화   4000
8     F    10   유통업 영리   4000
9     F    10   일반휴게음식   3500
10    F    10   유통업 영리   2300

In [5]:
file.연령대코드=pd.to_numeric(file.연령대코드, errors='coerce')
# groupby를 해주기 전 확인차 성별코드 내 속성들을 숫자로 치환해서 예외사항을 막음.

In [6]:
file=file.groupby(['성별코드', '연령대코드', '가맹점업종명'])
file.sum()['결제금액']
# 어떤 성별이 어떤 연령대에서 어떤 업종에 돈을 얼마나 썼는지 groupby로 확인할 수 있음. 
# sum()을 통해 총 결제금액을 알 수 있음. 
# 458row 정도로 전처리로 테이블 크기가 대폭 줄어듦.

성별코드  연령대코드  가맹점업종명
F     10.0   건강식품       49000
             건축자재        8000
             기타의료기관     80300
             레저업소       54400
             레져용품       49900
                        ...
M     80.0   학원        336500
             회원제형태       9000
      90.0   약국         34100
             음료식품       20600
             의원         13400
Name: 결제금액, Length: 458, dtype: int64

In [8]:
file.sum().reset_index().to_csv('consume.csv', index=False, header=False, encoding='utf-8-sig')
# 결과물을 csv 파일로 저장함. 성별, 연령별 소비를 쉽게 파악할 데이터 테이블을 얻게 됨.